*{
    box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

*::selection {
	background: $colorFondoSelection ;
	color: $colorLetraSelection;
}   /* SELECCIONAR ELEMENTOS CON EL MOUSE */

*::-moz-selection {
	background: $colorFondoSelection;
	color: $colorLetraSelection;
}   /* SELECCIONAR ELEMENTOS CON EL MOUSE FIREFOX  */