/* Selection */
$colorFondoSelection: #33257E;
$colorLetraSelection: #fff;

/* Colores Web */
$colorFondo: #29294d;


$colorBotonHover: #B4A5FF;
$colorFondoBtn: #22e75d;
$colorFondoBtnGenerar:#33257E; 
$colorFondoBtnRedes: #705ae9;
$colorBtnFalse: #f56464;


$colorFondoInput: #212139;
$colorAlerta: rgba(255,255,255,0);
$colorAlertaActive: rgba(255,255,255,1);


/* Borde de Separacion */
$bordeSuperior: 1px solid rgba(255,255,255,.25);
$bordeSuperiorUp: 1px solid rgba(255,255,255,.5);


